@model ELibrary_Team_1.Models.Document

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="@("~/Images/"+Model.Image)" asp-append-version="true" /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.Title</h3>
                    <p><b>Author</b>: @Model.Author</p> 
                    @*<div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">@Model.UserVotes.Where(x => x.Id == Model.Id).Count()</span>
                        </div>*@
                    <p>
                        <b>Category: </b>
                        @foreach (var category in Model.DocumentCategories)
                        {
                            <span style="background-color:#868c96;">@category.Category.Title</span> <span>&ensp;</span>
                        }
                    </p>
                    <p class="product-description"><b>Description: </b>@Model.Description</p>
                    <p><b>View: </b>@Model.AccessRequests.Where(x => x.IsAccept == true).Count()</p>
                    <p><b>Rate: </b>@Model.AverageRate<span>(@Model.UserVotes.Count() vote)</span></p>
                   



                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <h3>Chapters List</h3>
        <div id="chapterList">
            @foreach (var item in ViewBag.Chapters)
            {
                <div>
                    <a style="line-height: 1.2" class="nav-link active" href="#"><p font-size:18px>@item.Number<span>: </span>@item.Title</p></a>
                </div>
            }
        </div>
        
    </div>

    @*<div class="col-xs-12">
            <h3>Chapters List</h3>
            <table id="tblChapterList">
                <thead>
                    <tr>
                        <th>
                            Chapter
                        </th>
                        <th>
                            Title
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Chapters)
                    {
                        <tr>
                            <td>
                                @item.Id
                                <span>ToDo: Replace by Number</span>
                            </td>
                            <td>
                                @item.DocumentId
                                <span>ToDo: Replace by Title</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
</div>





<style>
    #chapterList {
        height: 200px;
        overflow-y: scroll;
    }
    
</style>