@model ELibrary_Team_1.Models.Document
@using Microsoft.AspNetCore.Identity
@using ELibrary_Team_1.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="@("~/images/"+Model.Image)" asp-append-version="true" /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.Title</h3>
                    <p><b>Author</b>: @Model.Author</p>
                    <p>
                        <b>Category: </b>
                        @foreach (var category in Model.DocumentCategories)
                        {
                            <span style="background-color:#868c96;">@category.Category.Title</span> <span>&ensp;</span>
                        }
                    </p>
                    <p class="product-description"><b>Description: </b>@Model.Description</p>
                    <p><b>View: </b>@Model.AccessRequests.Where(x => x.IsAccept == true).Count()</p>
                    <p><b>Rate: </b>@Model.AverageRate<span>(@Model.UserVotes.Count() vote)</span></p>
                    <div>
                        <div>
                            <h4 id="listHeading">Chapters List</h4>

                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a class="btn btn-success text-white" id="login" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path" style="cursor:pointer; width:300px;">
                                    Login to send request
                                </a>
                            }
                            else
                            {
                                if (ViewBag.RequestStatus == null)
                                {
                                    <a onclick=LockUnlock(@Model.Id) class="btn btn-success text-white" style="cursor:pointer; width:300px;">
                                        <i class="fas fa-lock"></i>  Send request to read full
                                    </a>
                                }
                                else
                                {
                                    if (ViewBag.RequestStatus == false)
                                    {
                                        <a class="btnButton btn btn-info text-white">
                                            Wait for allowed
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btnButton btn btn-info text-white">
                                            You are accessed full document
                                        </a>
                                    }
                                }
                            } 

                        </div>
                        <div id="chapterList">
                       @if (ViewBag.Chapters.Count == 0)
                       {
                                <div>
                                    <h6>Updating...</h6>
                                </div>
                       }
                       else
                       {
                       @foreach (var item in ViewBag.Chapters)
                       {
                                <div>
                                    <a style="line-height: 1.2" class="btn-link"
                                       onclick="showInPopup('@Url.Action(" GetChapter", "Document", new { title = item.Title, number = item.Number, id = item.Id }, Context.Request.Scheme)')">
                                        @item.Number<span>: </span>@item.Title
                                    </a>
                                </div>
                       }
                       }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



<div class="modal" tabindex="-1" role="dialog" id="chapter-modal">
    <div class="modal-dialog w-75 mw-100 h-75 mh-100 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>@Model.Title</h3>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>





<style>
    #chapterList {
        height: 200px;
        overflow: scroll;
    }

        #chapterList .btn-link:hover {
            color: blue;
        }

    #btnRequest {
        display: inline-block;
    }

    #listHeading {
        display: inline-block
    }
</style>

<script type="text/javascript">

    showInPopup = (url) => {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                $('#chapter-modal .modal-body').html(res);
                $('#chapter-modal').modal('show');
                // to make popup draggable
                $('.chapter-dialog').draggable({
                    handle: ".modal-header"
                });
            }
        })
    }



function LockUnlock(id) {

    $.ajax({

        type: "POST",
        url: "@Url.Action("SendAccessRequest", "Document")",
        data: { documentId: id },

        success: function (data) {
            if (data.success) {
                toastr.success(data.message);
                window.location.reload();
            }
            else
                toastr.error(data.message);
        }
    });


}
</script> 